/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
/*Le damos una sola tipografía a toda nuestra web*/
* {
  font-family: 'Raleway', sans-serif;
}
/*Hacemos que todo nuestro body funcione como un bloque*/

body {
  display: block;

}

/*Modificando header*/

header {
  position: fixed; /*Para que permanezca visible cuando hagamos scroll*/
  background: #fff; /*Color de fondo blanco*/
  top: 0; /*No tiene margen*/ /*Se pega al margen de la web*/
  width: 100%; /*Ocupa todo el ancho de la web*/
  padding: 30px;
  /*outline: 1px solid green;*/
  display: block; /*Para que se comporte como bloque*/
}

/*Modificando etiquetas anchor*/
header a {
  margin: 10px; /*margen de 10 pixeles*/
  margin-left: 40px; /*margen hacia la izquierda */
}

/*Modificamos el logo que se verá en nuestro header*/

.logo {
  float: right; /*Para que se pegue al lado derecho de nuestra web*/
  width: 40px; /*ancho*/
  height: 40px; /*largo*/

}

/*Modificando div's*/

section div {
  display: block; /*Todos se comportarán como bloques*/
  /*outline: 1px solid yellow;*/
  height: auto; /*Tendrán el largo que ocupen y necesiten sus elementos o lo que nosotros querramos darles*/
}

/**/


.applove-one {
  background-image: url(https://fotos.subefotos.com/95f30bd8768ea79dda0989bf017c8e1bo.jpg);
  text-align: center;
  color: #fff;
  height: 500px;
  margin-top: 101px;
}
h2{
  /*outline: 1px solid purple;*/
  text-align: center;
  padding-top: 70px;
  bottom: 30px;
  /*margin: 53px;*/
  margin: 0;
  color: #fff;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

p {
  text-align: center;
  margin: 0;
}

.img-applove-one {
  width: 100%;
}

button {
  margin-top: 80px;
  background-color: rgb(46,204,113);
  border: 0;
  padding: 18px 25px 18px 25px;
  text-align: center;
  color: #fff;
}

.conteiner-services {
  margin: 0;
  background-color: rgb(241,124,114);
  text-align: center;
  color: #fff;
}

.conteiner-services h2 {
  font-size: 35px;
  margin-bottom: 40px;
}

.services-boxes {
  display:inline-block;
  margin: 60px;
}

.services-imgs {
  width: 200px;
  height: 200px;
}
.title-work {
  /*outline: 1px solid green;*/
  color: black;
}

div h4 {
  /*outline: 1px solid blue;*/
  text-align: center;
  margin-bottom: 50px;
}

.work-img {
  align-items: center;
  width: 900px;
  height: auto;
}

img.work-img {
  align: center;
  margin-left: 230px;
}

.proyect-img {
  width: 250px;
  height: auto;
  margin: 85px;
}

.proyects ul {
  list-style: none;
  overflow: auto;
}

.proyects ul li {
  float: left;
}

.proyects .proyect-img p {
  text-align: center;

}

footer {
  padding: 20px;
  background-color: rgb(55,59,71);
  color: #fff;
  margin-top: 120px;

}
